<% content_for :session do %>
	<% if @active_user %>
		Welcome, 
		<%= link_to @active_user.username, edit_user_path(@active_user) -%>
		.
		[<%= link_to "Logout", logout_path %>]
	<% else %>
		<% form_for :user, :url => {:controller => 'login' } do |f| %>
			<%= f.label "username" %>
			<%= f.text_field :username %>
			<%= f.label "password" %>
			<%= f.password_field :password %>
			<%= submit_tag "Login" %>
			[<%= link_to "Register", new_user_path %>]
		<% end %>
	<% end %>
<% end %>

<% if flash[:notice] -%>
	<div id="notice"><%= flash[:notice] %></div>
<% end -%>
<% if flash[:error] -%>
	<div id="error"><%= flash[:error] %></div>
<% end -%>
<%= link_to "New course", new_course_path %>
<br />
<ul>
<% @courses.each do |course| %>
	<li><%= link_to course.name, course -%></li>
<% end %>
</ul>
